body{
   
}

.nav-link{
    font-size: large;
}

.form-control.mr-sm-2{
    width: 60%;
}

.form-inline.mr-auto{
   width: 300px;
   margin: 150px auto;
}

.form-control.mr-sm-2{
    width: 200px;
}

.btn{
    width: 80px;
    

}

